# Directories to ignore:
Out/
# Python virtual environments
.venv/
venv/
env/

# Files to ignore:
Autodiscover*
vcenter*
.ready
config.local.json
*.secrets.json
wordlist.txt

Get-AdAudit.ps1
Get-DuplicateFile.ps1
Get-VSCodeExtension.ps1

TSG_PrintQueueLabel_VAD.cs
