# Temp
*.tmp
*.bak
*.secrets.json

# Directories
LogsAndExports/
Out/
EndpointTrackingScripts/
.venv/
obj/
/Bin/
bin/
SecureCrimp/
!src/TechToolbox.Agent/bin/
src/TechToolbox.Agent/bin/**
!src/TechToolbox.Agent/bin/**/
!src/TechToolbox.Agent/bin/**/TechToolbox.Agent.dll

# Files
wordlist.txt
TechToolbox.log
