# Temp
*.tmp
*.bak
*.secrets.json
memory.json
memory.history.json
memory.history.json.*

# Directories
LogsAndExports/
Out/
EndpointTrackingScripts/
.venv/
obj/
/Bin/
bin/
SecureCrimp/
slash/

# Files
wordlist.txt
TechToolbox.log
Desktop
LauncherFolder
MyDocuments
